<div class="container pt-4">
    <div (click)="logout()" class="text-right">Logout</div>
    <div class="row mt-4 ">
      <div class="col-9 col-lg-6 mx-auto text-center">
        <h4 class="display-block">Teacher Dashboard</h4>
        <h3 class="display-block">Welcome {{ firstName }}!</h3>
        <h4 class="display-block">What would you like to do?</h4>
      <div class="card-deck mt-4">
        <div class="card hovercard">
          <h5 class="card-body">View Schedule</h5>
        </div>
        <div class="card hovercard">
          <h5 class="card-body">Lesson Plans</h5>
        </div>
        <div class="card hovercard">
          <h5 class="card-body">Access Resources</h5>
        </div>
      </div>
    </div>
    </div>
</div>
